<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net48" />
  <package id="MSTest.Analyzers" version="4.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestFramework" version="4.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="UUID" version="1.1.1" targetFramework="net48" />
  <package id="UUID.Serialization.Newtonsoft" version="1.1.1" targetFramework="net48" />
</packages>